.jumbotron {
	background-color: #363636;
	color: white;
	margin-top: 20px;
}

.navbar {
  background-color: #363636;
  color: white;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #363636;
	color: white;
	margin-top: 10px
}

.card-hotel {
	flex: 1 200px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
	padding-left: 10px;
}
.tab-content{
	padding-top: 5px;
}

