$yellow: #0c0d0c;
$red: #ff2e5f;
$green:#408f3c;

@mixin margenes($top, $bottom){
	margin-top: $top;	
	margin-bottom: $bottom;
}

	.jumbotron {
		background-color: $yellow;
		color: $green;
		@include margenes(20px , 10px);
	}

	.navbar {
  		background-color: $green;;
	}	


	footer {
		padding: 10px 10px 0 10px;
		background-color: $red;
		color: white;
		@include margenes(10px , 0px);
	}

	.card-hotel {
		flex: 1 200px;
		@include margenes(0px , 5px);
		margin-left: 5px;
	}

	.btn-reserva{
		width: 100%;
		border-radius: 0px;
	}

	.footer-address-icon{
		padding-right: 10px;
		padding-left: 10px;
	}
	.tab-content{
		padding-top: 5px;
	}