.jumbotron {
  background-color: #0c0d0c;
  color: #408f3c;
  margin-top: 20px;
  margin-bottom: 10px; }

.navbar {
  background-color: #408f3c; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ff2e5f;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px;
  padding-left: 10px; }

.tab-content {
  padding-top: 5px; }
