@yellow: #0c0d0c;
@red: #ff2e5f;
@green:#408f3c;
@white: #fdfefe;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top; 
  margin-bottom: @bottom;
}

a {
  color: @white;
}

.jumbotron {
  background-color: @yellow;
  color: @green;
  .margenes(20px, 10px);
  }

.navbar {
  background-color: @green; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  color: white;
  .margenes(10px, 0px); 
  }

.card-hotel {
  flex: 1 200px;
  margin-top: 0px;
  .margenes(0px, 5px);
  margin-left: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px;
  padding-left: 10px; }

.tab-content {
  padding-top: 5px; }
